raspberry-pi/nodered/nodered-volume/flows.json
[
    {
        "id": "3e30dc50ae28f61f",
        "type": "tab",
        "label": "Image",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3a45fd4c213f8992",
        "type": "tab",
        "label": "Chat",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fe9df7d8e4198178",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "da658693d60dbfee",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bc740d23.438bf",
        "type": "websocket-listener",
        "path": "/ws/chat",
        "wholemsg": "false"
    },
    {
        "id": "55925672.3514d8",
        "type": "ui_tab",
        "name": "PiSenseHAT",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f9412ecc.e353b",
        "type": "ui_group",
        "name": "Environment Control",
        "tab": "55925672.3514d8",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": true,
        "className": ""
    },
    {
        "id": "398715c2.3c77ea",
        "type": "ui_group",
        "name": "Temperature Graph",
        "tab": "55925672.3514d8",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": true,
        "className": ""
    },
    {
        "id": "75bb8e4e9daabe2a",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "47aa14e39a93548c",
        "type": "ui_group",
        "name": "Default",
        "tab": "4e80112e637d60e5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4e80112e637d60e5",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7c30fb48.99cd2c",
        "type": "http in",
        "z": "3e30dc50ae28f61f",
        "name": "",
        "url": "/simple",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "3153fbd3.203a64"
            ]
        ]
    },
    {
        "id": "3153fbd3.203a64",
        "type": "template",
        "z": "3e30dc50ae28f61f",
        "name": "html",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<h1>Upload a file here:</h1>\n\n<form action=\"/upload\" method=\"POST\" enctype=\"multipart/form-data\">\n    <input type=\"file\" name=\"myFile\" />\n    <input type=\"submit\" value=\"Submit\">\n</form>",
        "output": "str",
        "x": 490,
        "y": 100,
        "wires": [
            [
                "737e44d2.373a64"
            ]
        ]
    },
    {
        "id": "737e44d2.373a64",
        "type": "http response",
        "z": "3e30dc50ae28f61f",
        "name": "",
        "x": 630,
        "y": 100,
        "wires": []
    },
    {
        "id": "46e01eea.4a46a",
        "type": "comment",
        "z": "3e30dc50ae28f61f",
        "name": "Simple",
        "info": "",
        "x": 130,
        "y": 60,
        "wires": []
    },
    {
        "id": "7d8e179a.283e4",
        "type": "http response",
        "z": "3e30dc50ae28f61f",
        "name": "",
        "x": 630,
        "y": 160,
        "wires": []
    },
    {
        "id": "25859a94.7d9976",
        "type": "http in",
        "z": "3e30dc50ae28f61f",
        "name": "",
        "url": "/upload",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "d7e5df8b.97a4e8",
                "d63bc821ef4d1e2e"
            ]
        ]
    },
    {
        "id": "e1643981.20d7c8",
        "type": "template",
        "z": "3e30dc50ae28f61f",
        "name": "text",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "File {{name}} uploaded\n",
        "output": "str",
        "x": 490,
        "y": 160,
        "wires": [
            [
                "7d8e179a.283e4"
            ]
        ]
    },
    {
        "id": "d7e5df8b.97a4e8",
        "type": "function",
        "z": "3e30dc50ae28f61f",
        "name": "toBase64",
        "func": "msg.name = msg.req.files[0].originalname;\n\nif (msg.req.files[0].mimetype.includes('image')) {\n    msg.payload = `<img src=\"data:image/gif;base64,${msg.req.files[0].buffer.toString('base64')}\">`;\n} else {\n    msg.payload = msg.req.files[0].buffer.toString();\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 160,
        "wires": [
            [
                "e1643981.20d7c8"
            ]
        ]
    },
    {
        "id": "d63bc821ef4d1e2e",
        "type": "function",
        "z": "3e30dc50ae28f61f",
        "name": "toBase64",
        "func": "msg.name = msg.req.files[0].originalname;\n\nif (msg.req.files[0].mimetype.includes('image')) {\n    msg.payload = `${msg.req.files[0].buffer.toString('base64')}`;\n} else {\n    msg.payload = msg.req.files[0].buffer.toString();\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 200,
        "wires": [
            [
                "7518e9142f5680d8",
                "43fafba17925df91"
            ]
        ]
    },
    {
        "id": "7518e9142f5680d8",
        "type": "image viewer",
        "z": "3e30dc50ae28f61f",
        "name": "",
        "width": "640",
        "data": "payload",
        "dataType": "msg",
        "active": false,
        "x": 490,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "1880286475e54335",
        "type": "template",
        "z": "3e30dc50ae28f61f",
        "name": "html",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<p></p>File {{name}} uploaded !</p>\n\n<h2>Contents:</h2>\n\n<pre>\n{{{payload}}}\n</pre>",
        "output": "str",
        "x": 780,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "43fafba17925df91",
        "type": "image",
        "z": "3e30dc50ae28f61f",
        "name": "",
        "width": "640",
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 160,
        "y": 240,
        "wires": []
    },
    {
        "id": "0ea52358ab8e2391",
        "type": "comment",
        "z": "3e30dc50ae28f61f",
        "name": "Replace-text-by-html",
        "info": "",
        "x": 940,
        "y": 160,
        "wires": []
    },
    {
        "id": "1f044347b4962306",
        "type": "websocket in",
        "z": "3a45fd4c213f8992",
        "name": "",
        "server": "bc740d23.438bf",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "09dc90bbddd6b23d"
            ]
        ]
    },
    {
        "id": "09dc90bbddd6b23d",
        "type": "function",
        "z": "3a45fd4c213f8992",
        "name": "",
        "func": "delete msg._session;\nreturn msg;\n\n",
        "outputs": 1,
        "x": 304,
        "y": 100,
        "wires": [
            [
                "f16a1212f8341911"
            ]
        ]
    },
    {
        "id": "f16a1212f8341911",
        "type": "websocket out",
        "z": "3a45fd4c213f8992",
        "name": "",
        "server": "bc740d23.438bf",
        "x": 485,
        "y": 100,
        "wires": []
    },
    {
        "id": "428922193679ca2d",
        "type": "http in",
        "z": "3a45fd4c213f8992",
        "name": "",
        "url": "/chat",
        "method": "get",
        "x": 138,
        "y": 168,
        "wires": [
            [
                "316414fb7c1e99f9"
            ]
        ]
    },
    {
        "id": "316414fb7c1e99f9",
        "type": "template",
        "z": "3a45fd4c213f8992",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "syntax": "mustache",
        "template": "<head>\n  <meta name=\"viewport\" content=\"width=320, initial-scale=1\">\n  <title>Chat</title>\n<script type=\"text/javascript\">\n\n  function createSystemMessage(message) {\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.className = 'system';\n\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  function createUserMessage(user, message) {\n    var user = document.createTextNode(user + ': ');\n\n    var userBox = document.createElement('span');\n    userBox.className = 'username';\n    userBox.appendChild(user);\n\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.appendChild(userBox);\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  var wsUri = \"ws://{{req.headers.host}}/ws/chat\";\n  var wsglobal;\n  \n  function connect() {\n    var ws = new WebSocket(wsUri);\n\n    ws.onopen = function(ev) {\n      createSystemMessage('[Connected]');\n    };\n\n    ws.onclose = function(ev) {\n      createSystemMessage('[Disconnected]');\n      connect();\n    }\n\n    ws.onmessage = function(ev) {\n      var payload = JSON.parse(ev.data);\n      createUserMessage(payload.user, payload.message);\n\n      var chat = document.getElementById('chat_box');\n      chat.scrollTop = chat.scrollHeight;\n    }\n    \n    wsglobal=ws;\n  }\n  \n  connect();\n  function clearMessages() {\n      document.getElementById('chat_box').innerHTML=\"\";\n  }\n  function sendMessage() {\n    var user = document.getElementById('user');\n    var message = document.getElementById('message');\n\n    var payload = {\n      message: message.value,\n      user: user.value,\n      ts: (new Date()).getTime()\n    };\n\n    wsglobal.send(JSON.stringify(payload));\n    message.value = \"\";\n  };\n</script>\n\n<style type=\"text/css\">\n  * {\n    font-family: \"Palatino Linotype\", \"Book Antiqua\", Palatino, serif;\n    font-style: italic;\n    font-size: 24px;\n  }\n\n  html, body, #wrapper {\n    margin: 0;\n    padding: 0;\n    height: 100%;\n  }\n\n  #wrapper {\n    background-color: #ecf0f1;\n  }\n\n  #chat_box {\n    box-sizing: border-box;\n    height: 100%;\n    overflow: auto;\n    padding-bottom: 50px;\n  }\n\n  #footer {\n    box-sizing: border-box;\n    position: fixed;\n    bottom: 0;\n    height: 50px;\n    width: 100%;\n    background-color: #2980b9;\n  }\n\n  #footer .content {\n    padding-top: 4px;\n    position: relative;\n  }\n\n  #user { width: 15%; }\n  #message { width: 58%; }\n  #clear_btn {\n    width: 10%;\n    position: absolute;\n    right: 15%;\n    bottom: 0;\n    margin: 0;\n  }\n  #send_btn {\n    width: 10%;\n    position: absolute;\n    right: 0;\n    bottom: 0;\n    margin: 0;\n  }\n\n  .content {\n    width: 70%;\n    margin: 0 auto;\n  }\n\n  input[type=\"text\"],\n  input[type=\"button\"] {\n    border: 0;\n    color: #fff;\n  }\n\n  input[type=\"text\"] {\n    background-color: #146EA8;\n    padding: 3px 10px;\n  }\n\n  input[type=\"button\"] {\n    background-color: #f39c12;\n    border-right: 2px solid #e67e22;\n    border-bottom: 2px solid #e67e22;\n    min-width: 70px;\n    display: inline-block;\n  }\n\n  input[type=\"button\"]:hover {\n    background-color: #e67e22;\n    border-right: 2px solid #f39c12;\n    border-bottom: 2px solid #f39c12;\n    cursor: pointer;\n  }\n\n  .system,\n  .username {\n    color: #aaa;\n    font-style: italic;\n    font-family: monospace;\n    font-size: 16px;\n  }\n\n  @media(max-width: 1000px) {\n    .content { width: 90%; }\n  }\n\n  @media(max-width: 780px) {\n    #footer { height: 91px; }\n    #chat_box { padding-bottom: 91px; }\n\n    #user { width: 100%; }\n    #message { width: 80%; }\n  }\n\n  @media(max-width: 400px) {\n    #footer { height: 135px; }\n    #chat_box { padding-bottom: 135px; }\n\n    #message { width: 100%; }\n    #send_btn {\n      position: relative;\n      margin-top: 3px;\n      width: 100%;\n    }\n  }\n</style>\n</head>\n\n<body>\n  <div id=\"wrapper\">\n    <div id=\"chat_box\" class=\"content\"></div>\n\n    <div id=\"footer\">\n      <div class=\"content\">\n        <input type=\"text\" id=\"user\" placeholder=\"Who are you?\" />\n        <input type=\"text\" id=\"message\" placeholder=\"What do you want to say?\" />\n        <input type=\"button\" id=\"send_btn\" value=\"Send\" onclick=\"sendMessage()\">\n        <input type=\"button\" id=\"clear_btn\" value=\"Clear\" onclick=\"clearMessages()\">\n      </div>\n    </div>\n  </div>\n</body>\n\n",
        "x": 304,
        "y": 168,
        "wires": [
            [
                "7f3f72c7d757f412"
            ]
        ]
    },
    {
        "id": "7f3f72c7d757f412",
        "type": "http response",
        "z": "3a45fd4c213f8992",
        "name": "",
        "x": 447,
        "y": 168,
        "wires": []
    },
    {
        "id": "1257186b.0a2a38",
        "type": "change",
        "z": "fe9df7d8e4198178",
        "name": "temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 120,
        "wires": [
            [
                "5286a46a.22574c"
            ]
        ]
    },
    {
        "id": "d818a011.6e4f6",
        "type": "switch",
        "z": "fe9df7d8e4198178",
        "name": "env",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "environment",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 310,
        "y": 147,
        "wires": [
            [
                "1257186b.0a2a38",
                "ebc9af3f.8eb3f",
                "6a598f88.a0418"
            ]
        ]
    },
    {
        "id": "ebc9af3f.8eb3f",
        "type": "change",
        "z": "fe9df7d8e4198178",
        "name": "hum",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 431.5,
        "y": 187,
        "wires": [
            [
                "3f4ce8a5.02ef88"
            ]
        ]
    },
    {
        "id": "6a598f88.a0418",
        "type": "change",
        "z": "fe9df7d8e4198178",
        "name": "atm",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.pressure",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430.5,
        "y": 241,
        "wires": [
            [
                "dde55c07.3459a"
            ]
        ]
    },
    {
        "id": "9d96007b.fe3e6",
        "type": "comment",
        "z": "fe9df7d8e4198178",
        "name": "Environment Sensors",
        "info": "",
        "x": 215,
        "y": 104,
        "wires": []
    },
    {
        "id": "6c9089bd.427848",
        "type": "inject",
        "z": "fe9df7d8e4198178",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 201,
        "y": 428,
        "wires": [
            [
                "a39867dd.a55e28",
                "2eb53772.695fa8"
            ]
        ]
    },
    {
        "id": "a39867dd.a55e28",
        "type": "change",
        "z": "fe9df7d8e4198178",
        "name": "Alarm",
        "rules": [
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "white",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "speed",
                "pt": "msg",
                "to": "5",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 355,
        "y": 429,
        "wires": [
            [
                "9c79e9d9718199fc"
            ]
        ]
    },
    {
        "id": "8eddb3c4.10da5",
        "type": "change",
        "z": "fe9df7d8e4198178",
        "name": "deactivate",
        "rules": [
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "                  ",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 373,
        "y": 470,
        "wires": [
            [
                "9c79e9d9718199fc"
            ]
        ]
    },
    {
        "id": "2eb53772.695fa8",
        "type": "delay",
        "z": "fe9df7d8e4198178",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 226,
        "y": 470,
        "wires": [
            [
                "8eddb3c4.10da5"
            ]
        ]
    },
    {
        "id": "d9461b8c.9107d8",
        "type": "comment",
        "z": "fe9df7d8e4198178",
        "name": "Dot Matrix",
        "info": "",
        "x": 175,
        "y": 388,
        "wires": []
    },
    {
        "id": "c1c718922692de96",
        "type": "rpi-sensehat in",
        "z": "fe9df7d8e4198178",
        "name": "",
        "motion": false,
        "env": true,
        "stick": false,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "d818a011.6e4f6"
            ]
        ]
    },
    {
        "id": "9c79e9d9718199fc",
        "type": "rpi-sensehat out",
        "z": "fe9df7d8e4198178",
        "name": "",
        "x": 635,
        "y": 468,
        "wires": []
    },
    {
        "id": "f51c664.1c4ff98",
        "type": "ui_gauge",
        "z": "fe9df7d8e4198178",
        "name": "Thermometer",
        "group": "f9412ecc.e353b",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Thermometer",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 725,
        "y": 97,
        "wires": []
    },
    {
        "id": "6da57f94.3deb2",
        "type": "ui_gauge",
        "z": "fe9df7d8e4198178",
        "name": "Hygrometer",
        "group": "f9412ecc.e353b",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Hygrometer",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 717.5,
        "y": 187,
        "wires": []
    },
    {
        "id": "c24d86d8.1920a8",
        "type": "ui_gauge",
        "z": "fe9df7d8e4198178",
        "name": "Barometer",
        "group": "f9412ecc.e353b",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Barometer",
        "label": "mbar",
        "format": "{{value}}",
        "min": "900",
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 716.5,
        "y": 241,
        "wires": []
    },
    {
        "id": "10fe0e9f.a28511",
        "type": "ui_chart",
        "z": "fe9df7d8e4198178",
        "name": "Temperature Graph",
        "group": "398715c2.3c77ea",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 736,
        "y": 144,
        "wires": [
            []
        ]
    },
    {
        "id": "5286a46a.22574c",
        "type": "smooth",
        "z": "fe9df7d8e4198178",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "1",
        "mult": "single",
        "x": 562,
        "y": 120,
        "wires": [
            [
                "10fe0e9f.a28511",
                "f51c664.1c4ff98"
            ]
        ]
    },
    {
        "id": "3f4ce8a5.02ef88",
        "type": "smooth",
        "z": "fe9df7d8e4198178",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "1",
        "mult": "single",
        "x": 561,
        "y": 187,
        "wires": [
            [
                "6da57f94.3deb2"
            ]
        ]
    },
    {
        "id": "dde55c07.3459a",
        "type": "smooth",
        "z": "fe9df7d8e4198178",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "1",
        "mult": "single",
        "x": 559,
        "y": 241,
        "wires": [
            [
                "c24d86d8.1920a8"
            ]
        ]
    },
    {
        "id": "2f1ce5a518f7038c",
        "type": "debug",
        "z": "da658693d60dbfee",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 260,
        "wires": []
    },
    {
        "id": "f79dfaa36cd93353",
        "type": "ui_text",
        "z": "da658693d60dbfee",
        "group": "47aa14e39a93548c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Joystick direction",
        "format": "{{msg.payload.key}}",
        "layout": "row-spread",
        "className": "",
        "x": 510,
        "y": 100,
        "wires": []
    },
    {
        "id": "a94be90051639b30",
        "type": "switch",
        "z": "da658693d60dbfee",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "joystick",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "environment",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "motion",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 270,
        "y": 180,
        "wires": [
            [
                "f79dfaa36cd93353",
                "2f1ce5a518f7038c"
            ],
            [
                "00565d90f8b06675",
                "a3fdd7a258d8506b",
                "1d8cadbb78ae0076"
            ],
            [
                "2f1ce5a518f7038c"
            ]
        ]
    },
    {
        "id": "cfc50256585fba98",
        "type": "ui_gauge",
        "z": "da658693d60dbfee",
        "name": "",
        "group": "47aa14e39a93548c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 770,
        "y": 140,
        "wires": []
    },
    {
        "id": "0cb4be89d2525e83",
        "type": "ui_gauge",
        "z": "da658693d60dbfee",
        "name": "",
        "group": "47aa14e39a93548c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 760,
        "y": 180,
        "wires": []
    },
    {
        "id": "ede3ec40fb37212d",
        "type": "ui_gauge",
        "z": "da658693d60dbfee",
        "name": "",
        "group": "47aa14e39a93548c",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "pressure",
        "label": "units",
        "format": "{{value}}",
        "min": "900",
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 760,
        "y": 220,
        "wires": []
    },
    {
        "id": "00565d90f8b06675",
        "type": "change",
        "z": "da658693d60dbfee",
        "name": "temperature",
        "rules": [
            {
                "t": "move",
                "p": "payload.temperature",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 140,
        "wires": [
            [
                "cfc50256585fba98"
            ]
        ]
    },
    {
        "id": "a3fdd7a258d8506b",
        "type": "change",
        "z": "da658693d60dbfee",
        "name": "humidity",
        "rules": [
            {
                "t": "move",
                "p": "payload.humidity",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 180,
        "wires": [
            [
                "0cb4be89d2525e83"
            ]
        ]
    },
    {
        "id": "1d8cadbb78ae0076",
        "type": "change",
        "z": "da658693d60dbfee",
        "name": "pressure",
        "rules": [
            {
                "t": "move",
                "p": "payload.pressure",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 220,
        "wires": [
            [
                "ede3ec40fb37212d"
            ]
        ]
    },
    {
        "id": "2f281db51b977dbd",
        "type": "rpi-sensehat in",
        "z": "da658693d60dbfee",
        "name": "",
        "motion": false,
        "env": true,
        "stick": true,
        "x": 100,
        "y": 180,
        "wires": [
            [
                "a94be90051639b30",
                "566d6385f0d1d5ac"
            ]
        ]
    },
    {
        "id": "566d6385f0d1d5ac",
        "type": "debug",
        "z": "da658693d60dbfee",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 170,
        "y": 260,
        "wires": []
    }
]